body {
    color: #222;
    background: #fff;
}

a {
    color: blue;
}

.status {
    font-weight: bold;
}

.status.unknown {
    color: darkblue;
}

.status.up {
    color: darkgreen;
}

.status.down {
    color: darkred;
}

.columns {
    column-count: 3;
}

.columns ul {
    margin-top: 0;
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background: #202020;
    }

    body a {
        color: #009fff;
    }

    .status.unknown {
        color: steelblue;
    }

    .status.up {
        color: seagreen;
    }

    .status.down {
        color: #bb072e;
    }
}

pre {
    white-space: pre-wrap;
}

details summary {
    font-size: larger;
    cursor: pointer;
}
