body {
    color: #222;
    background: #fff;
}

a {
    color: blue;
}

button {
    border-radius: 4px 0 4px 0;
}

.status {
    font-weight: bold;
}

.status.out {
    color: darkblue;
}

.status.up {
    color: darkgreen;
}

.status.down {
    color: darkred;
}

.columns {
    column-count: 3;
}

.columns ul {
    margin-top: 0;
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ababac;
        background: #202125;
    }

    body a {
        color: #89b3f7;
    }

    body button {
        background: #313336;
        border-color: #6c6c6c;
    }

    .status {
        color: #b4b4b5;
    }

    .status.out {
        color: steelblue;
    }

    .status.up {
        color: #489b54;
    }

    .status.down {
        color: #c55350;
    }
}

pre {
    white-space: pre-wrap;
}

details summary {
    font-size: larger;
    cursor: pointer;
}
