body {
    color: #222;
    background: #fff;
}

a {
    color: blue;
}

.status {
    font-weight: bold;
}

.status.unknown {
    color: blue;
}

.status.up {
    color: green;
}

.status.down {
    color: red;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background: #202020;
    }

    body a {
        color: #009fff;
    }

    .status.unknown {
        color: #009fff;
    }

    .status.up {
        color: darkgreen;
    }

    .status.down {
        color: darkred;
    }
}

pre {
    white-space: pre-wrap;
}

details summary {
    font-size: larger;
    cursor: pointer;
}
