<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="|${#objects.nullSafe(status,'')} ${#objects.nullSafe(error,'')}|"
           th:if="${status != null || error != null}">Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/ico">
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
</head>
<body>
<h4 th:text="${#dates.formatISO(timestamp)}" th:if="${timestamp != null}"></h4>
<h4 th:text="${requestId}" th:if="${requestId != null}"></h4>
<h4 th:text="|${#objects.nullSafe(status,'')} - ${#objects.nullSafe(error,'')}|" th:if="${status != null || error != null}"></h4>

<div th:if="${trace != null}">
    <pre th:text="${trace}"></pre>
</div>

<div th:if="${trace == null}"
     th:with="enableMessage=${@environment.getProperty('server.error.include-message') == 'on_param'},
              enableStacktrace=${@environment.getProperty('server.error.include-stacktrace') == 'on_param'},
              enableBindingErrors=${@environment.getProperty('server.error.include-binding-errors') == 'on_param'}">
    <span style="display:contents" th:text="|${exception}:|" th:if="${exception != null}"></span>
    <span style="display:contents" th:text="${message}" th:if="${message != null}"></span>

    <span style="display:inline-block" th:text="${errors}" th:if="${errors != null}"></span>

    <p th:if="${status != 404 && param.message == null && param.trace == null && param.errors == null}"
       th:unless="${enableMessage == false && enableStacktrace == false && enableBindingErrors == false}"
       th:with="currentUrl=(${path + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
        Re-submit request and display
        <a th:href="@{${currentUrl}(message='')}" th:if="${enableMessage == true && message == null}">exception message</a>
        <a th:href="@{${currentUrl}(errors='')}" th:if="${enableBindingErrors == true && errors == null}">binding errors</a>
        <a th:href="@{${currentUrl}(trace='')}" th:if="${enableStacktrace == true}">stacktrace</a>
    </p>
</div>

</body>
</html>
