<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${@environment.getProperty('info.build.description', 'Demo Web Service')}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/ico"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
</head>

<body>
<h2 th:id="page-title" th:text="|${@environment.getProperty('info.build.description', 'Demo Web Service')} - Display Page|">Display Page</h2>
<p>This page is a convenient place to display features; it does not contain any actual features.</p>

<details open title="API Documentation" id="api-documentation-endpoints">
    <summary>API Documentation</summary>
    <ul id="api-documentation-endpoints-list">
        <li><a th:target="_blank" th:href="@{/redoc.html}">Redoc</a></li>
        <li><a th:target="_blank" th:href="@{/swagger-ui/index.html}">Swagger</a></li>
    </ul>
</details>

<details title="Health" id="actuator-health">
    <summary>Health
        <button style="display:contents" title="Reload" th:onclick="'javascript:refreshHealth();'"><sup>&#x21bb;</sup></button>
        <span style="display:contents" class="status unknown" title="Live State" id="live-state">UNKNOWN</span>
        <span style="display:contents" class="status unknown" title="Ready State" id="ready-state">UNKNOWN</span>
        <span style="display:contents" class="status unknown" title="Healthy State" id="healthy-state">UNKNOWN</span>
    </summary>
</details>

<details title="Availability Controls" id="availability-endpoints">
    <summary>Availability Controls</summary>
    <ul id="availability-endpoints-list">
        <li>
            <span>Live</span>
            <button class="status up" th:onclick="'javascript:patch(\'/v1/availability/liveness/CORRECT\');refreshHealth();'">CORRECT</button>
            <button class="status down" th:onclick="'javascript:patch(\'/v1/availability/liveness/BROKEN\');refreshHealth();'">BROKEN</button>
        </li>
        <li>
            <span>Ready</span>
            <button class="status up" th:onclick="'javascript:patch(\'/v1/availability/readiness/ACCEPTING_TRAFFIC\');refreshHealth();'">ACCEPTING_TRAFFIC</button>
            <button class="status out" th:onclick="'javascript:patch(\'/v1/availability/readiness/REFUSING_TRAFFIC\');refreshHealth();'">REFUSING_TRAFFIC</button>
        </li>
        <li>
            <span>Healthy</span>
            <button class="status up" th:onclick="'javascript:patch(\'/v1/availability/health/UP\');refreshHealth();'">UP</button>
            <button class="status down" th:onclick="'javascript:patch(\'/v1/availability/health/DOWN\');refreshHealth();'">DOWN</button>
            <button class="status out" th:onclick="'javascript:patch(\'/v1/availability/health/OUT_OF_SERVICE\');refreshHealth();'">OUT_OF_SERVICE</button>
            <button class="status" th:onclick="'javascript:patch(\'/v1/availability/health/UNKNOWN\');refreshHealth();'">UNKNOWN</button>
        </li>
        <li th:if="${(@environment.getProperty('management.endpoint.shutdown.enabled', '').matches('true') || @environment.getProperty('management.endpoints.enabled-by-default', '').matches('true')) &&
                     @environment.getProperty('management.endpoints.web.exposure.include', '').matches('.*([*]|shutdown).*')}">
            <span>Shutdown</span>
            <button class="status" th:onclick="'javascript:document.getElementById(\'shutdown-button\').disabled = false;'">ENABLE <strong style="vertical-align: center">&#x21E8;</strong></button>
            <button disabled="disabled" id="shutdown-button" class="status down" th:onclick="'javascript:post(\'/actuator/shutdown\');'">SHUTDOWN</button>
        </li>
    </ul>
</details>

<details title="Info" id="actuator-info"
         th:if="${@environment.getProperty('management.endpoints.web.exposure.include', '').matches('.*([*]|info).*')}"
         th:ontoggle="'javascript:populateInfo(\'actuator-info\')'">
    <summary>Info</summary>
</details>

<details title="Metrics" id="actuator-metrics" class="columns"
         th:if="${@environment.getProperty('management.endpoints.web.exposure.include', '').matches('.*([*]|metrics).*')}"
         th:ontoggle="'javascript:populateMetrics(\'actuator-metrics\')'">
    <summary>Metrics</summary>
</details>

<details title="Actuator Json Endpoints" id="actuator-endpoints"
         th:ontoggle="'javascript:populateEndpoints(\'actuator-endpoints\')'">
    <summary>Actuator Json Endpoints</summary>
</details>

<script th:src="@{/js/actuator.js}"></script>
</body>
</html>
