<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Demo Spring Web Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/ico"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
</head>
<body>
<h2>Demo Spring Web Service</h2>
<h3>Documentation</h3>
<ul>
    <li><a th:href="@{/redoc.html}">Redoc</a></li>
    <li><a th:href="@{/swagger-ui/index.html}">Swagger</a></li>
</ul>

<div>
    <h3>Actuator Endpoints</h3>
    <div title="Actuator Endpoints" id="actuator-links"></div>
</div>

<div>
    <h3>Actuator Health</h3>
    <div title="Actuator Health" id="actuator-health"></div>
</div>

<div>
    <h3>Actuator Metrics</h3>
    <div title="Actuator Metrics" id="actuator-metrics" style="column-count: 3;"></div>
</div>

<div>
    <h3>Actuator Info</h3>
    <div title="Actuator Info" id="actuator-info"></div>
</div>

<script th:src="@{/js/actuator.js}"></script>
</body>
</html>
